@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul li{
    text-decoration: none;
}
.nav{
    height: 100%!important;
    background-color: rgb(253, 253, 253)!important;
   
}
.nav .nav-link{
    text-decoration: none!important;
    color: black!important;
}
.nav .nav-link a:active{
    background-color: brown!important;
}
.nav .nav-link a{
    text-decoration: none;
    list-style: none;
}
.nav .nav-link:hover{
    color: rgb(255, 255, 255)!important;
    background-color: brown;
}